.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height:100%;
    
}
#hii{
    display: flex;
    width:320px;
    justify-content: space-between;
}
i{
    position: absolute;
    margin-left: 10px;
}
h3 .span{
    /* border-radius: 50%; */
    border: 1px solid;
    /* border-radius: 10px; */
    font-size: 20px;
    padding: 5px;
    /* background-color: white; */
    /* margin-left: 10px; */
}
.hello{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    line-height: 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    
}
.hey{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
}
.he{
    background-color: rgb(220, 220, 13);
    border-radius: 10px;
    text-align: center;
    height: 20px;
    margin-left: 20px;
    /* padding: none; */
}
.she{
    padding: 10px;
    background-color: rgb(188, 128, 117);
    margin-right: 30px;
}
h4{
    margin-left: 20px;
    color: tomato;
}